* {
  font-family: century, Times, serif;
}

.title {
  color: navy;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.undertitle {
  color: burlywood;
  text-align: center;
  font-family: century, Times, serif;
}

@media (max-width: 700px) {
  .navi {
    background-color: navy;
    display: flex;
    width: 100%;
  }
  .navi a {
    flex: 1;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: century, Times, serif;
    font-size: xx-small;
    font-weight: 300;
    background-color: navy;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: color 0.5s;
  }
}
.navi {
  background-color: navy;
  display: flex;
  width: 100%;
}
.navi a {
  flex: 1;
  color: burlywood;
  text-decoration: none;
  text-align: center;
  font-family: century, Times, serif;
  font-size: large;
  font-weight: 600;
  background-color: navy;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  transition: color 0.5s;
}
.navi a:hover {
  color: navy;
  background-color: burlywood;
}
.navi a:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}

.img_marex440 {
  width: 100%;
  height: auto;
}

.yacht_h3 {
  color: burlywood;
  font-family: century, Times, serif;
  font-weight: 600;
  font-size: 2em;
}

.section_line {
  color: navy;
}

.title2 {
  text-align: center;
  color: navy;
  font-family: century, Times, serif;
  font-weight: 600;
  font-size: 3em;
}

@media (max-width: 700px) {
  .login_signup_buttons {
    display: flex;
    width: 100%;
  }
  .login_signup_buttons a {
    flex: 1;
    color: burlywood;
    text-align: center;
    text-decoration: none;
    font-size: small;
    font-weight: 300;
    background-color: navy;
    margin-right: 7%;
    margin-left: 7%;
    border: none;
    padding: 1px;
    cursor: pointer;
    transition: background-color 0, 25s;
    transition: color 0.25s;
  }
  .login_signup_buttons a:hover {
    color: navy;
    background-color: burlywood;
  }
  .login_signup_buttons a:active {
    color: royalblue;
    background-color: rgb(214, 167, 105);
  }
}
.login_signup_buttons {
  display: flex;
  width: 100%;
}
.login_signup_buttons a {
  flex: 1;
  color: burlywood;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  font-weight: 600;
  background-color: navy;
  margin-right: 9%;
  margin-left: 9%;
  border: none;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0, 25s;
  transition: color 0.25s;
}
.login_signup_buttons a:hover {
  color: navy;
  background-color: burlywood;
}
.login_signup_buttons a:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}

.title2_2 {
  color: navy;
  font-size: 3em;
  font-weight: 600;
  padding-left: 5%;
}

.title3 {
  color: navy;
  font-size: 2em;
  font-weight: 600;
}

.title3_italy {
  text-align: end;
  color: navy;
  font-size: 2em;
  font-weight: 600;
}

.location_list {
  color: burlywood;
  font-size: 1.5em;
  font-weight: 400;
  cursor: pointer;
}

.location_list_italy {
  direction: rtl;
  color: burlywood;
  font-size: 1.5em;
  font-weight: 400;
  cursor: pointer;
}

.img_krk_punat {
  margin-left: auto;
  margin-right: 12.5%;
  width: 45%;
  height: auto;
  cursor: pointer;
}

.img_sicily {
  margin-right: auto;
  margin-left: 12.5%;
  cursor: pointer;
}

.list_krk_punat {
  display: flex;
}

.list_sicily {
  display: flex;
}

@media (max-width: 850px) {
  .img_krk_punat {
    display: none;
  }
  .img_sicily {
    width: 0%;
    margin-left: auto;
  }
}
.modal_punat {
  display: none;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 1;
  background-color: rgba(167, 167, 167, 0.8);
  border-radius: 10px;
}
.modal_punat .modal_div_punat {
  display: flex;
  justify-content: center;
}
.modal_punat .modal_punat_img {
  margin-top: 1%;
  width: 80%;
  height: auto;
}
.modal_punat .close_modal {
  color: navy;
  background-color: burlywood;
  position: absolute;
  text-align: center;
  width: 20%;
  font-size: large;
  right: 10%;
  cursor: pointer;
  transition: color 0.25s;
}
.modal_punat .close_modal:hover {
  color: burlywood;
  background-color: navy;
}
.modal_punat .close_modal:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}

.yachts h3 {
  color: burlywood;
  font-size: 5em;
  font-weight: 600;
}
@media (max-width: 700px) {
  .yachts h3 {
    font-size: 2.7em;
  }
}
.yachts p {
  color: navy;
  font-size: x-large;
  font-weight: 100;
}
.yachts a {
  color: navy;
  font-size: large;
  font-weight: 100;
}
.yachts a:hover {
  color: rgb(122, 122, 177);
}
.yachts a:visited {
  color: royalblue;
}
.yachts #hr_2 {
  color: burlywood;
}
.yachts .yt_section1_marex440 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.26%;
}
.yachts .yt_section2_marex440 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 52.74%;
}
.yachts .yt_section3_marex440 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.26%;
}
.yachts .yt_1_marex440 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}
.yachts #charter_button {
  color: burlywood;
  text-align: center;
  text-decoration: none;
  font-size: xx-large;
  font-weight: 600;
  background-color: navy;
  margin-left: 1%;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  transition: background-color 0, 25s;
  transition: color 0.25s;
}
.yachts #charter_button:hover {
  color: navy;
  background-color: burlywood;
}
.yachts #charter_button:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}

.theme_button {
  display: flex;
  justify-content: center;
}
.theme_button a {
  color: burlywood;
  text-align: center;
  font-size: large;
  font-weight: 500;
  background-color: rgb(10, 29, 56);
  width: 20%;
  cursor: pointer;
  transition: background-color 2.5s;
}
.theme_button a:hover {
  color: burlywood;
  background-color: navy;
}
.theme_button a:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}

.aside_button_right {
  display: flex;
  justify-content: end;
}
.aside_button_right a {
  color: navy;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  background-color: burlywood;
  width: 10%;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: color 0.25;
}
.aside_button_right a:hover {
  color: burlywood;
  background-color: navy;
}
.aside_button_right a:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}

@media (max-width: 700px) {
  .aside_button_right {
    display: flex;
    justify-content: end;
  }
  .aside_button_right a {
    color: navy;
    text-align: center;
    text-decoration: none;
    font-size: small;
    font-weight: 400;
    background-color: burlywood;
    width: 17%;
    border: none;
    cursor: pointer;
    transition: background-color 0.25s;
    transition: color 0.25;
  }
  .aside_button_right a:hover {
    color: burlywood;
    background-color: navy;
  }
  .aside_button_right a:active {
    color: beige;
    background-color: rgb(5, 5, 100);
  }
}
.footer_about_us {
  background-color: navy;
  text-align: center;
}
.footer_about_us hr {
  color: burlywood;
}
.footer_about_us h5 {
  color: burlywood;
}
.footer_about_us h2 {
  color: burlywood;
  font-size: 2em;
  font-weight: 400;
}
.footer_about_us p {
  color: white;
}
.footer_about_us a {
  color: white;
}
.footer_about_us a:hover {
  color: rgb(122, 122, 177);
}
.footer_about_us a:visited {
  color: royalblue;
}
.footer_about_us #designer_name {
  font-size: 150%;
}

.navi_2 {
  display: flex;
  width: 100%;
}
.navi_2 .login_navi_button_left {
  flex: 1;
  color: navy;
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-weight: 600;
  background-color: burlywood;
  height: 40px;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 40%;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: color 0.25;
}
.navi_2 .login_navi_button_left:hover {
  color: burlywood;
  background-color: navy;
}
.navi_2 .login_navi_button_left:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}
.navi_2 .signup_navi_button_left {
  flex: 1;
  color: navy;
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-weight: 600;
  background-color: burlywood;
  height: 40px;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 44.6%;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: color 0.25;
}
.navi_2 .signup_navi_button_left:hover {
  color: burlywood;
  background-color: navy;
}
.navi_2 .signup_navi_button_left:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}
.navi_2 p {
  color: navy;
  font-weight: 600;
  font-size: larger;
}
.navi_2 .navi_button_right {
  flex: 1;
  color: navy;
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-weight: 600;
  background-color: burlywood;
  border: none;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: color 0.25;
}
.navi_2 .navi_button_right:hover {
  color: burlywood;
  background-color: navy;
}
.navi_2 .navi_button_right:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}

@media (max-width: 700px) {
  .navi_2 {
    display: flex;
    width: 100%;
  }
  .navi_2 .login_navi_button_left {
    flex: 1;
    color: navy;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
    background-color: burlywood;
    height: 40px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.25s;
    transition: color 0.25;
  }
  .navi_2 .login_navi_button_left:hover {
    color: burlywood;
    background-color: navy;
  }
  .navi_2 .login_navi_button_left:active {
    color: beige;
    background-color: rgb(5, 5, 100);
  }
  .navi_2 .signup_navi_button_left {
    flex: 1;
    color: navy;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
    background-color: burlywood;
    height: 40px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 23.5%;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.25s;
    transition: color 0.25;
  }
  .navi_2 .signup_navi_button_left:hover {
    color: burlywood;
    background-color: navy;
  }
  .navi_2 .signup_navi_button_left:active {
    color: beige;
    background-color: rgb(5, 5, 100);
  }
  .navi_2 p {
    color: navy;
    font-weight: 600;
    font-size: medium;
  }
  .navi_2 .navi_button_right {
    flex: 1;
    color: navy;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
    background-color: burlywood;
    border: none;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
    cursor: pointer;
    transition: background-color 0.25s;
    transition: color 0.25;
  }
  .navi_2 .navi_button_right:hover {
    color: burlywood;
    background-color: navy;
  }
  .navi_2 .navi_button_right:active {
    color: beige;
    background-color: rgb(5, 5, 100);
  }
}
#signup_h4 {
  text-align: center;
  color: navy;
  font-weight: 800;
  font-size: x-large;
}

#signup_p_h4 {
  text-align: center;
  color: black;
  font-weight: 400;
}

.signup_form .signup_row {
  display: flex;
  width: 100%;
  justify-content: center;
}
.signup_form .signup_row label {
  color: navy;
  font-size: large;
  font-weight: 600;
}
.signup_form .signup_row .input {
  width: 100%;
  color: black;
  font-size: medium;
  background-color: whitesmoke;
  border: none;
  border-radius: 3px;
}
.signup_form .signup_row .invalid-feedback {
  color: burlywood;
}
.signup_form .signup_row .password_strenght {
  font-size: small;
  background-color: whitesmoke;
  border-radius: 10px;
}
.signup_form .signup_row .password_strenght #password_strenght {
  border-radius: 10px;
}
.signup_form .signup_row .submit_btn {
  color: whitesmoke;
  font-size: large;
  font-weight: 600;
  background-color: royalblue;
  border: none;
  padding: 1.5%;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.notification_green {
  display: none;
  position: fixed;
  top: 30px;
  bottom: 800px;
  left: 20%;
  right: 20%;
  z-index: 1;
  border-radius: 15px;
  background-color: rgba(25, 181, 78, 0.8);
  border: 1.5px solid darkgreen;
}
.notification_green p {
  color: darkgreen;
  padding-left: 10%;
  font-weight: 600;
}

@media (max-width: 700px) {
  .notification_green {
    bottom: 750px;
  }
}
.notification_red {
  display: none;
  position: fixed;
  top: 30px;
  bottom: 800px;
  left: 20%;
  right: 20%;
  z-index: 1;
  border-radius: 15px;
  background-color: rgba(237, 28, 36, 0.5);
  border: 1.5px solid crimson;
}
.notification_red p {
  color: crimson;
  padding-left: 10%;
  font-weight: 600;
}

@media (max-width: 700px) {
  .notification_red {
    bottom: 750px;
  }
}
.how_button {
  color: navy;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  font-weight: 600;
  background-color: burlywood;
  margin-left: 1%;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  transition: background-color 0, 25s;
  transition: color 0.25s;
}

.how_button:hover {
  color: burlywood;
  background-color: navy;
}

.how_button:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}

.how_modal {
  display: none;
  position: fixed;
  top: 2%;
  bottom: 60%;
  left: 20%;
  right: 20%;
  z-index: 1;
  background-color: rgba(167, 167, 167, 0.8);
  border-radius: 10px;
}
.how_modal p {
  color: navy;
  font-size: x-large;
  font-weight: 600;
  text-align: center;
}
.how_modal a {
  position: absolute;
  right: 10px;
  color: navy;
  background-color: burlywood;
  font-size: x-large;
  cursor: pointer;
  transition: color 0.25s;
}
.how_modal a:hover {
  color: burlywood;
  background-color: navy;
}
.how_modal a:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}

@media (max-width: 700px) {
  .how_modal {
    left: 5%;
    right: 5%;
  }
}
@media (min-width: 700px) {
  .captain_cards #row1 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15%;
  }
}
@media (max-width: 700px) {
  .captain_cards #row1_mobile {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
.captain_cards #row2 {
  display: flex;
  width: 100%;
  justify-content: center;
}
.captain_cards h4 {
  color: navy;
  font-weight: 600;
}
.captain_cards p {
  color: black;
  font-family: century, Times, serif;
}
.captain_cards .captain_card {
  background-color: whitesmoke;
  padding: 4px;
  border-radius: 2%;
}
.captain_cards .captain_card #capatin_img {
  text-align: center;
}
@media (max-width: 700px) {
  .captain_cards p {
    color: black;
    font-family: century, Times, serif;
    font-size: small;
  }
}

.services_acord {
  text-decoration: none;
}
.services_acord .acord_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.services_acord .acord_div .more_services {
  text-align: center;
  width: 100%;
  color: burlywood;
  background-color: navy;
  font-size: x-large;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: color 0.25s;
}
.services_acord .acord_div .more_services:hover {
  color: navy;
  background-color: burlywood;
}
.services_acord .acord_div .more_services:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}
.services_acord .acord_div .our_yachts {
  display: none;
  text-align: center;
  width: 100%;
  color: burlywood;
  background-color: navy;
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: color 0.25s;
}
.services_acord .acord_div .our_yachts:hover {
  color: navy;
  background-color: burlywood;
}
.services_acord .acord_div .our_yachts:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}
.services_acord .acord_div .acord1_div {
  display: none;
  width: 100%;
}
.services_acord .acord_div .acord1_div .acord1 {
  display: block;
  color: navy;
  background-color: burlywood;
  width: 100%;
  font-size: large;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color 0.25s;
}
.services_acord .acord_div .acord1_div .acord1:hover {
  color: burlywood;
  background-color: royalblue;
}
.services_acord .acord_div .acord2_div {
  display: none;
  width: 100%;
}
.services_acord .acord_div .acord2_div .acord2 {
  display: block;
  color: navy;
  background-color: burlywood;
  width: 100%;
  font-size: large;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color 0.25s;
}
.services_acord .acord_div .acord2_div .acord2:hover {
  color: burlywood;
  background-color: royalblue;
}
@media (max-width: 700px) {
  .services_acord .acord_div {
    width: 80%;
  }
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-collapse: collapse;
}
.table .table1_hed {
  background-color: navy;
  color: burlywood;
  font-weight: 600;
  font-size: x-large;
}
.table .table2_hed {
  background-color: navy;
  color: burlywood;
  font-weight: 600;
  font-size: x-large;
}
.table .table2_bdy {
  background-color: whitesmoke;
  color: burlywood;
  font-size: x-large;
}
.table .table2_bdy .values {
  text-align: center;
}
.table th {
  padding: 1%;
}
.table td {
  padding: 1%;
}
@media (max-width: 700px) {
  .table .table1_hed {
    font-size: medium;
  }
  .table .table2_hed {
    font-size: medium;
  }
  .table .table2_bdy {
    font-size: medium;
  }
}

.comment_input {
  text-align: center;
  color: burlywood;
  border: none;
  width: 90%;
}

.table3_comments {
  border-bottom: 1px solid navy;
}

.add_delete {
  text-align: center;
  color: navy;
  background-color: whitesmoke;
  cursor: pointer;
  transition: color 0.25s;
}

.feedback_btn {
  text-align: center;
  color: navy;
  background-color: burlywood;
  cursor: pointer;
  transition: color 0.25s;
}

.feedback_btn:hover {
  color: burlywood;
  background-color: navy;
}

.feedback_btn:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}/*# sourceMappingURL=YCwebsite_Login.css.map */