* {
  font-family: century, Times, serif;
}

.title {
  color: navy;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.undertitle {
  color: burlywood;
  text-align: center;
  font-family: century, Times, serif;
}

@media (max-width: 700px) {
  .navi {
    background-color: navy;
    display: flex;
    width: 100%;
  }
  .navi a {
    flex: 1;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: century, Times, serif;
    font-size: xx-small;
    font-weight: 300;
    background-color: navy;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: color 0.5s;
  }
}
.navi {
  background-color: navy;
  display: flex;
  width: 100%;
}
.navi a {
  flex: 1;
  color: burlywood;
  text-decoration: none;
  text-align: center;
  font-family: century, Times, serif;
  font-size: large;
  font-weight: 600;
  background-color: navy;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  transition: color 0.5s;
}
.navi a:hover {
  color: navy;
  background-color: burlywood;
}
.navi a:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}

.img_marex440 {
  width: 100%;
  height: auto;
}

.yacht_h3 {
  color: burlywood;
  font-family: century, Times, serif;
  font-weight: 600;
  font-size: 2em;
}

.section_line {
  color: navy;
}

.title2 {
  text-align: center;
  color: navy;
  font-family: century, Times, serif;
  font-weight: 600;
  font-size: 3em;
}

@media (max-width: 700px) {
  .login_signup_buttons {
    display: flex;
    width: 100%;
  }
  .login_signup_buttons a {
    flex: 1;
    color: burlywood;
    text-align: center;
    text-decoration: none;
    font-size: small;
    font-weight: 300;
    background-color: navy;
    margin-right: 7%;
    margin-left: 7%;
    border: none;
    padding: 1px;
    cursor: pointer;
    transition: background-color 0, 25s;
    transition: color 0.25s;
  }
  .login_signup_buttons a:hover {
    color: navy;
    background-color: burlywood;
  }
  .login_signup_buttons a:active {
    color: royalblue;
    background-color: rgb(214, 167, 105);
  }
}
.login_signup_buttons {
  display: flex;
  width: 100%;
}
.login_signup_buttons a {
  flex: 1;
  color: burlywood;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  font-weight: 600;
  background-color: navy;
  margin-right: 9%;
  margin-left: 9%;
  border: none;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0, 25s;
  transition: color 0.25s;
}
.login_signup_buttons a:hover {
  color: navy;
  background-color: burlywood;
}
.login_signup_buttons a:active {
  color: royalblue;
  background-color: rgb(214, 167, 105);
}

.yt_1_marex440 {
  display: flex;
  width: 100%;
}

.aside_button_right {
  display: flex;
  justify-content: end;
}
.aside_button_right a {
  color: navy;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  background-color: burlywood;
  width: 10%;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: color 0.25;
}
.aside_button_right a:hover {
  color: burlywood;
  background-color: navy;
}
.aside_button_right a:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}

.footer_about_us {
  background-color: navy;
  text-align: center;
}
.footer_about_us hr {
  color: burlywood;
}
.footer_about_us h5 {
  color: burlywood;
}
.footer_about_us h2 {
  color: burlywood;
  font-size: 2em;
  font-weight: 400;
}
.footer_about_us p {
  color: white;
}
.footer_about_us #designer_name {
  font-size: 150%;
}

.navi_2 {
  display: flex;
  width: 100%;
}
.navi_2 .login_navi_button_left {
  flex: 1;
  color: navy;
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-weight: 600;
  background-color: burlywood;
  height: 40px;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 40%;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: color 0.25;
}
.navi_2 .login_navi_button_left:hover {
  color: burlywood;
  background-color: navy;
}
.navi_2 .login_navi_button_left:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}
.navi_2 .signup_navi_button_left {
  flex: 1;
  color: navy;
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-weight: 600;
  background-color: burlywood;
  height: 40px;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 44.6%;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: color 0.25;
}
.navi_2 .signup_navi_button_left:hover {
  color: burlywood;
  background-color: navy;
}
.navi_2 .signup_navi_button_left:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}
.navi_2 p {
  color: navy;
  font-weight: 600;
  font-size: larger;
}
.navi_2 .navi_button_right {
  flex: 1;
  color: navy;
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-weight: 600;
  background-color: burlywood;
  border: none;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1%;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: color 0.25;
}
.navi_2 .navi_button_right:hover {
  color: burlywood;
  background-color: navy;
}
.navi_2 .navi_button_right:active {
  color: beige;
  background-color: rgb(5, 5, 100);
}/*# sourceMappingURL=YCwebsite_Login.css.map */