.title{
    color: navy;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.undertitle{
    color: burlywood;
    text-align: center;
    font-family: century, Times, serif;
}