<div class="container">
    <nav class="navi">
            <a id="theme2.0" href="#contacts">Contacts</a>
            <a id="theme2.1" href="YCwebsite_Main.html#locations">Locations</a>
            <a id="theme2.2" href="YCwebsite_Main.html#yachts">Yachts</a>
            <a id="theme2.3" href="#page_Main">Home page</a>
            <a id="theme2.4" href="#about_us">About us</a>   
    </nav>
    <section>
        <img  class="img_marex440" src="../assets/images/riva88folgoro.jpg" alt="Riva 88' Folgoor">
        <h3 class="yacht_h3">Riva 88' Folgoor</h3>
    </section>
    <hr class="section_line">
    <br>
    <section>
        <h2 id="theme1,1" class="title2_2" id="our_captains">Our Captains</h2>
        <br><br>
        <a class="how_button" id="theme1,9" onclick="show_modal('how_modal', 'how_modal_close', event)">How to charter a yacht</a>
        <div id="how_modal" class="how_modal">
            <P>Take a look at our professional captains, after that contact us and arrange a charter of your desired yacht whit a crew if you need one!</P>
            <br><br>
            <a id="how_modal_close" class="how_modal_close">Understood</a>
        </div>
        <br><br><br><br><br><br><br><br><br>
        <div  class="captain_cards">
            <div id="row1">
                <div id="row1_mobile">
                    <div class="captain_card" >
                        <div  id="capatin_img">
                            <img src="../assets/images/blank_user.jpg">
                        </div>
                        <h4>Pero Peric</h4>
                        <p>Very experienced yacht captain</p>
                    </div>
                </div>
                <br><br><br><br><br>
                <div id="row1_mobile">
                    <div class="captain_card" >
                        <div id="capatin_img">
                            <img src="../assets/images/blank_user.jpg">
                        </div>
                        <h4>Brzo Brzic</h4>
                        <p>Very experienced yacht captain</p>
                    </div>
                </div>
            </div>
            <br><br><br><br><br>
            <div id="row2">
                <div class="captain_card">
                    <div id="capatin_img">
                        <img src="../assets/images/blank_user.jpg">
                    </div>
                    <h4>Donald McDuck</h4>
                    <p>Very experienced yacht captain</p>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br>
    </section>
    <hr class="section_line">
    <br><br><br><br>
    <section class="services_acord">
        <div class="acord_div">
            <a id="more_services" class="more_services">More services ></a><br>
            <a id="our_yachts" class="our_yachts">Our yachts ></a><br>
            <div id="acord1_div" class="acord1_div">
                <a class="acord1" href="YCwebsite_Main.html#riva_88">~ Riva 88' Folgoor</a>
                <a class="acord1" href="YCwebsite_Main.html#princess_s72">~ Princess 74</a>
                <a class="acord1" href="YCwebsite_Main.html#marex_440_gourmet_cruiser">~ Marex 440 Gourmet Cruiser</a>
            </div>
            <div id="acord2_div" class="acord2_div">
                <a id="w1" class="acord2">~ Punat</a>
                <a id="w2" class="acord2">~ Novi Vinodolski</a>
                <a id="w3" class="acord2">~ Dubrovnik</a>
                <a id="w4" class="acord2">~ Zadar</a>
                <a id="w5" class="acord2">~ Rovinj</a>
                <a id="w6" class="acord2">~ Venice</a>
                <a id="w7" class="acord2">~ Sicily</a>
            </div>
            <a id="waether" class="our_yachts">Current weather ></a><br>
        </div>
    </section>
    <br><br><br><br>
    <hr class="section_line">
    <br>
    <section>
        <h2 id="theme1,2" class="title2_2">Prices</h2>
        <br><br><br><br><br><br>
        <table class="table">
            <thead class="table1_hed">
                <tr id="table1_hed">
                    <th>Captain</th>
                    <th>Price per hour (Euro €)</th>
                    <th>Price per week (Euro €)</th>
                </tr>
            </thead>
            <tbody id="captain_table" class="table2_bdy">
            </tbody>
        </table>
        <table class="table">
            <thead class="table2_hed">
                <tr id="table2_hed">
                    <th>Yachts</th>
                    <th>Price per hour (Euro €)</th>
                    <th>Price per week (Euro €)</th>
                </tr>
            </thead>
            <br><br><br><br><br><br>
            <tbody id="table2_bdy" class="table2_bdy">
                <tr>
                    <td>Riva 88' Folgoor</td>
                    <td class="values">400</td>
                    <td class="values">7000</td>
                </tr>
                <tr>
                    <td>Princess 74</td>
                    <td class="values">400</td>
                    <td class="values">7000</td>
                </tr>
                <tr>
                    <td>Marex 440 Gourmet Cruiser</td>
                    <td class="values">400</td>
                    <td class="values">7000</td>
                </tr>
            </tbody>
        </table>
    </section>
    <br><br><br><br><br><br><br><br><br>
    <hr id="hr_2" class="section_line">
    <br>
    <section>
        <h2 class="title2_2">Feedback</h2>
        <br><br><br><br><br><br>
        <table class="table">
            <thead class="table2_hed">
                <tr id="feedback_table">
                    <th>Your feedback</th>
                </tr>
            </thead>
            <br><br><br><br><br><br>
            <tbody id="comments" class="table2_bdy">
            </tbody>
            <tbody id="adding_com" class="table2_bdy">
            </tbody>
            <tbody id="actions" class="add_delete">
            </tbody>
            <tbody>
                <tr>
                    <td id="feedback_btn" class="feedback_btn">Give your feedback!</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div id="add_green" class="notification_green">
        <p>Success!</p>
        <p>Your form was successfully added.</p>
    </div>
    <div id="del_green" class="notification_green">
        <p>Success!</p>
        <p>Your form was successfully deleted.</p>
    </div>
    <div id="error1_red" class="notification_red">
        <p>Error!</p>
        <p>Empty comment can not be added.</p>
    </div>
    <br><br><br><br><br><br><br><br><br>
    <hr class="section_line">
    <br><br><br><br><br>
    </section>
    <br>
</div>
