<div class="container">
    <hr class="section_line">
    <nav class="navi_2">
        <a class="login_navi_button_left" href="#page_Main">Home page</a>
        <p id="theme1,1">If you do not have an account</p>
        <a class="navi_button_right" href="#page_Signup">Sign up</a>
    </nav>
    <section style="text-align: center;">

        <br><br><br>

        <h4 id="signup_h4">Your Account Login</h4>
        <p id="signup_p_h4">Please enter your information:</p>

        <form id="form_login" action="https://jsonplaceholder.typicode.com/posts" method="POST" prevent default>

            <label for="username" id="theme1,2">Username</label>
            <input type="text" id="name" name="username" required><br>
            <br>
            <label for="password" id="theme1,3">Password</label>
            <input type="password" id="password" name="password" required><br>
            <br>
            <input type="submit" value="Submit" style="color: darkcyan;">

        </form>
    </section>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
</div>