<div class="container">
    <hr class="section_line">
    <nav class="navi_2">
        <a class="login_navi_button_left" href="#page_Main">Home page</a>
        <p id="theme1,16">If you do not have an account</p>
        <a class="navi_button_right" href="#page_Signup">Sign up</a>
    </nav>
    
    <section style="text-align: center;">

        <br><br><br>

        <h4 id="login_h4">Your Account Login</h4>
        <p id="signup_p_h4">Please enter your information:</p>

        <form id="form_login" method="POST">

            <label for="username" id="theme1,17">Username</label>
            <input type="text" id="login_name" name="username" required><br>
            <br>
            <label for="password" id="theme1,20">Password</label>
            <input type="password" id="login_password" name="password" required><br>
            <br>
            <input type="submit" value="Submit" style="color: darkcyan;">

        </form>
    </section>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>

    <div id="login_red" class="notification_red">
        <p>Error!</p>
        <p>User does not exist, sign up.</p>
    </div>
    <div id="login_incorrect_red" class="notification_red">
        <p>Error!</p>
        <p>Incorrect password! Try again.</p>
    </div>
</div>