<div class="container">
    <nav class="navi">
            <a id="theme2.0" href="#contacts">Contacts</a>
            <a id="theme2.1" href="#locations">Locations</a>
            <a id="theme2.2" href="#yachts">Yachts</a>
            <a id="theme2.3" href="#page_Services">Services</a>
            <a id="theme2.4" href="#about_us">About us</a>   
    </nav>
    <section>
        <img  class="img_marex440" src="../assets/images/marex440.jpg" alt="No internet connection">
        <h3 class="yacht_h3">Marex 440</h3>
    </section>
    <hr class="section_line">
    <section>
        <h2 id="theme1,1" class="title2">Do you have an account?</h2>
        <br>
        <section class="login_signup_buttons">
            <a id="theme2.5" href="#page_Login">Log in</a>
            <a id="theme2.6" href="#page_Signup">Sign up</a>
        </section>
        <br><br>
    </section>
    <hr class="section_line">
    <br>
    <section>
        <h2 class="title2_2" id="locations">Our locations</h2>
        <br>
        <p id="signup_h4"></p>
        <article class="list_krk_punat">
            <div>
            <h3 id="theme1,2" class="title3">Croatia</h3>
             <ul class="location_list">
                <li id="li_punat" onclick="add_description1('Punat','~Town on Krk island~','li_punat')">Punat</li>
                <li id="li_novi_vinodolski" onclick="add_description1('Novi Vinodolski','~Town on the coast, opposit of the Krk island~','li_novi_vinodolski')">Novi Vinodolski</li>
                <li id="li_dubrovnik" onclick="add_description1('Dubrovnik','~Filming location of many movies and series~','li_dubrovnik')">Dubrovnik</li>
                <li id="li_zadar" onclick="add_description1('Zadar','~Located in the center of the coast~','li_zadar')">Zadar</li>
                <li id="li_rovinj" onclick="add_description1('Rovinj','~One of the most beautifull cityes in Istria~','li_rovinj')">Rovinj</li>
            </ul>
            </div>
            <img id="punat_img" class="img_krk_punat" src="../assets/images/krk_punat.jpg" alt="No internet connection" onclick="show_modal('punat_modal', 'close_modal_punat', event)">
            <br>
        </article>
        <br><br>
        <article class="list_sicily">
            <img id="sicily_img" class="img_sicily" src="../assets/images/sicily.jpg" alt="No internet connection" onclick="show_modal('sicily_modal', 'close_modal_sicily', event)">
            <div>
                <h3 id="theme1,3" class="title3_italy">Italy</h3>
                <ul class="location_list_italy">
                    <li id="li_venic" onclick="add_description1('Venice','~Beautifull city, intersected by many canals~','li_venic')">Venice</li>
                    <li id="li_sicily" onclick="add_description1('Sicily','~The biggest island in Italy~','li_sicily')">Sicily</li>
                </ul>
                <br><br>
            </div>
            <br>
        </article>
        <br><br><br>
        <div id="punat_modal" class="modal_punat">
            <div class="modal_div_punat">
                <img class="modal_punat_img" src="../assets/images/krk_punat.jpg" alt="No internet connection">
            </div>
            <br>
            <a id="close_modal_punat" class="close_modal">Close</a>
        </div>
        <div id="sicily_modal" class="modal_punat">
            <div class="modal_div_punat">
                <img class="modal_punat_img" src="../assets/images/sicily.jpg" alt="No internet connection">
            </div>
            <br>
            <a id="close_modal_sicily" class="close_modal">Close</a>
        </div>
    </section>
    <hr class="section_line">
    <br>
    <section class="yachts" id="yachts">
        <h2 class="title2_2" id="locations">Our yachts</h2>
        <br><br><br>
        <section id="riva_88" class="yt_section1_marex440">
            <iframe class="yt_1_marex440" src="https://www.youtube.com/embed/c_zS6WBufmY?controls=0&autoplay=1&mute=1&loop=1&playlist=c_zS6WBufmY"></iframe>
        </section>
        <h3 class="yacht_h3">Riva 88' Folgore</h3>
        <p id="theme1,4">Futuristically styled, perfect for your vacations</p>
        <a id="theme1,5" href="https://www.riva-yacht.com/en-us/Model/p/2-283-424-PUB-EXT/n/Riva-88%27-Folgore" target="_blank" title="Link to yacht website">More information about yacht here</a><br>
        <br><br><br>
        <a class="theme2" id="charter_button" href="YCwebsite_Services.html#our_captains">Charter</a>
        <br><br><br><br><br><br><br><br><br>
        <hr id="hr_2">
        <br><br><br>
        <section id="princess_s72" class="yt_section3_marex440">
            <iframe class="yt_1_marex440" src="https://www.youtube.com/embed/ZdyBGbgiDgc?controls=0&autoplay=1&loop=1&mute=1&playlist=ZdyBGbgiDgc"></iframe>
        </section>
        <h3 class="yacht_h3">Princess S72</h3>
        <p id="theme1,6">Spacious and high quality, perfect for entertainment</p>
        <a id="theme1,7" href="https://www.princessyachts.com/" target="_blank" title="Link to yacht website">More information about yacht here</a><br>
        <br><br><br>
        <a class="theme2" id="charter_button" href="YCwebsite_Services.html#our_captains">Charter</a>
        <br><br><br><br><br><br><br><br><br>
        <hr id="hr_2">
        <br><br><br>
        <section id="marex_440_gourmet_cruiser" class="yt_section2_marex440">
            <iframe class="yt_1_marex440" src="https://www.youtube.com/embed/QPkB6LS2Bmg?controls=0&autoplay=1&mute=1&loop=1&playlist=QPkB6LS2Bmg"></iframe>
        </section>
        <h3 class="yacht_h3">Marex 440 Gourmet Cruiser</h3>
        <p id="theme1,8">Perfect yacht form family excursions</p>
        <a id="theme1,9" href="https://marex.no/boats/440-gourmet-cruiser/" target="_blank" title="Link to yacht website">More information about yacht here</a><br>
        <br><br><br>
        <a class="theme2" id="charter_button" href="YCwebsite_Services.html#our_captains">Charter</a>
        <br><br><br><br><br><br><br><br><br>
        <hr id="hr_2">
        <br><br><br><br><br>
    </section>
    <br>
</div>